name: Sync to GitLab

on:
  push:
    branches: [ main, develop, 'feature/*', 'ft/*' ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
          
      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
      - name: Test SSH Connection
        run: ssh -T git@gitlab.com
          
      - name: Push to GitLab
        run: |
          # Получаем имя ветки
          BRANCH_NAME=$(git branch --show-current)
          
          # Добавляем GitLab remote
          git remote add gitlab git@gitlab.com:cellardoooor/terratest.git
          
          # Пушим
          git push gitlab $BRANCH_NAME