name: Mirror to GitLab

on: [push]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          # Используем printf чтобы избежать проблем с переносами строк
          printf '%s\n' "$KEY" > ~/.ssh/key
          chmod 600 ~/.ssh/key
          
          # Настраиваем SSH
          cat >> ~/.ssh/config << 'EOF'
          Host gitlab
            HostName gitlab.com
            User git
            IdentityFile ~/.ssh/key
            StrictHostKeyChecking no
          EOF
        env:
          KEY: ${{ secrets.GITLAB_SSH_PRIVATE_KEY
          
      - name: Mirror
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git remote add gitlab git@gitlab:cellardoooor/terratest.git
          git push --mirror gitlab
